<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="NIPPO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="WorkManagerDBContainer" connectionString="metadata=res://*/NIPPO_DB.csdl|res://*/NIPPO_DB.ssdl|res://*/NIPPO_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\db\nippo_db.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NIPPO_DBContainer" connectionString="metadata=res://*/NIPPO_DB.csdl|res://*/NIPPO_DB.ssdl|res://*/NIPPO_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\db\nippo_db.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<userSettings>
    <NIPPO.Properties.Settings>
        <setting name="ConnectionString" serializeAs="String">
            <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=nippo_db;User ID={0};password={1}</value>
        </setting>
        <setting name="Setting" serializeAs="String">
            <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=nippo_db;User ID={0};Password={1}</value>
        </setting>
    </NIPPO.Properties.Settings>
  </userSettings>
</configuration>